body{
    display: grid;
    text-align: center;
    
    
    
    
    
}
.top-container{
    text-align: center;
    width: 100%;
    background-color: rgba(255, 102, 0, 0.675);
    position: relative;
    top: 0px;
    display: block;
    
    
    
}

.cloud-one{
    position: absolute;
    top: 150 px;
    right: 10px;
}
.cloud-two{
    position: absolute;
    bottom: 150px;
    left: 10px;
}

    


.top-container>h1{
    padding: 10px;
    margin-top: 50px;
    font-family: fantasy;
    color: blue;
    -webkit-text-stroke: 0.9px black; 
    
}
.top-container>h2{
    margin-top: 25px;
    margin-bottom: 100px;
    font-family:monospace;
    color: blue;
    
    
}
.underline-pro{
    text-decoration: underline;
}
@media (max-width: 600px) {
    .top-container{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        height: 100vh;
        width: 100%;
        height: 100%;
    }
    .cloud-one{
        width: 50%;
        text-align: center;
        position: absolute;
        top: 200px;
    }
    .cloud-two{
        width: 50%;
        text-align: center;
    }
}
.hero-face{
    border-radius: 50%;
}
.skill-div{
    display: block;
    text-align: center;
}
.skill-grid{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-columns: 300px 300px;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    padding: 25px;
    align-items:center !important;
    

}
.ki-img, .ki-div{
    margin-bottom: 60px;
    
}
.ki-div{
    margin-left: 50px;
   
    
}
.blitz-div{
    margin-left: 50px;
  
    
}
.contact-div>h2{
    margin-bottom: 50px;
    margin-top: 150px;
}
.contact-div>h3{
    margin-bottom: 50px;
}
.contact-div{
    display: block;
}

.contact-div p {
    text-align: center;
    max-width: 20em; /* Adjust the max-width based on your design */
    margin: auto; /* Center the text */
    line-height: 1.5; /* Adjust the line-height value as needed */
    max-height: 3em; /* Approximately 2 lines with 1.5em line-height */
    
    
}
.contact-div {
    text-align: center;
}


.contact-button {
    display: block;
    margin: 100px auto; /* Adjust the margin as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
    font-size: 16px; /* Adjust the font size as needed */
    background-color: #ff7300; /* Your desired button background color */
    color: #fff; /* Your desired button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover {
    background-color: #1800b3; /* Adjust the hover background color as needed */
}

h2{
    color: rgba(0, 0, 255, 0.823);
    font-family: fantasy;
}
h3{
    color: chocolate;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    font-weight: 300;
}
.otsu{
    color: #1800b3 !important;
}
.bottom-container{
    background-color: #da611595;
}
    


   

